.container {
  .container-cards {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
    margin-bottom:20px;
    }
    .experiences-cards {
        img {
          width:70vh;
          height:70vh;
          object-fit:contain;
        }
    }
}
