<div class="footer" style='height:20vh; width:100%; background-color: black; color:white; text-align: center;padding:10px;'>
    <p>Lite Services©2021</p>
    <p>www.lite-services.com</p>
  <div class='footer-menu' style='display:flex; justify-content: space-around'>
    <p>Mentions légales</p>
    <p>Devenez ambassadeur</p>
    <p>Contact</p>
    <p>Conditions de vente</p>
  </div>
</div>
