<div class="footer" >
    <a>Lite Services©2021</a>
    <a>www.lite-services.com</a>
  <div class='footer-menu'>
    <a>Mentions légales</a>
    <a>Contact</a>
    <a>Conditions de vente</a>
  </div>
</div>
