<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre réservation "RentMe4ASelfie.com"</h1>
    <p>Votre réservation est confirmée!</p>
  </body>
</html>
