<div class="container" style="height:auto;min-height:67vh;">
  <p><%= link_to 'See all products', products_path %></p>
  <p>See all companies</p>
  <p><%= link_to "See all categories", products_path, method: :categories %></p>
  <p>Become a creator</p>
</div>
