<div class="background" >
  <div class="image">
    <img src="../assets/porsche.jpeg">
  </div>
  <div class="home-title image" style="text-align: center;">
    <h1>Organisez votre séance de photographie de prestige</h1>
    <h2>Concevez le décor de vos rêves</h2>
    <h2>Choisissez votre photographe</h2>
  <button type="button" class="btn btn-danger">Commencer</button>
  </div>
</div>
<div class="container">
  <a><%= link_to 'See all products', products_path %></a>
  <a> See all companies </a>
  <a><%= link_to "See all categories", products_path, method: :categories %></a>
  <a> Become a creator </a>
</div>

