<div class="background" >
  <div class="image">
    <img src="../assets/porsche.jpeg">
  </div>
  <div class="home-title image" style="text-align: center;">
    <h1>Rent Me 4 a Selfie</h1>
    <h3>Organisez votre séance de photographie sur mesure</h3>
    <h2>Louez un décor pour un selfie!</h2>
  <button type="button" class="btn btn-danger"><%= link_to "Commencer", experiences_path %></button>
  </div>
</div>
<div class="container">
  <a><%= link_to 'See all products', products_path %></a>
  <a> See all companies </a>
  <a><%= link_to "See all categories", products_path, method: :categories %></a>
  <a> Become a creator </a>
</div>

