.navbar {
  height:10vh;
  background-color: black;
  box-shadow: 1px 1px 10px 1px;
  display:flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color:grey;
    justify-content: space-between;
  }
  a:hover {
    text-decoration: none;
    color:#FCFCFC;
    justify-content: space-between;
  }
  .navbar-nav {
    text-decoration: none;
    color:grey;
    justify-content: space-between;
    width:100%;
    display:flex;
    .nav-item {
      a {
        text-decoration: none;
        color:grey;
        justify-content: space-between;
      }
    }
  }
}
